<?xml version="1.0" encoding="UTF-8"?>
<configuration>
      <springProperty scope="context" name="logPattern" source="logging.pattern.console"
                    defaultValue="%green(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] [%green(%X{X-B3-TraceId:-})] %yellow(%C{1.}): %msg%n%throwable"/>
      <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                ${logPattern}
            </Pattern>
        </layout>
    </appender>
    <appender name="Gelf" class="biz.paluch.logging.gelf.logback.GelfLogbackAppender">
        <graylogHost>gelf-host</graylogHost>
        <graylogPort>12201</graylogPort>
        <extractStackTrace>true</extractStackTrace>
        <mdcFields>X-B3-TraceId</mdcFields>
  <root level="info">
      <appender-ref ref="Console"/>
      <appender-ref ref="Gelf"/>
  </root>
 
</configuration>
